/* @author Paulo_Vitor_Guedes */

@font-face {
    font-family: 'Gotham';
    src: url('../_fonts/Gotham-Black.woff2') format('woff2'), url('../_fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



body, html, #home{
    height: 100%;
    overflow-x: hidden;
}

body{
    background: url(../_img/capa.png),
                url(../_img/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* Formatação Navbar 
----------------------------------------------------*/

/* logo */
.logo{
    font-family: "Gotham";
    letter-spacing: -0.05em;
    font-size: 1.5em;
}

header a:hover{
    text-decoration: none;
}

header nav img{
    width: 50px;
}

.navbar{
    padding: 0px 40px 0px 20px;
}

/* menu */
.navbar-transparente{
    background: rgba(0,0,0,0.7);
}

.navbar-expand-md .navbar-nav .nav-link{
    color: white;
    font-size: 1em;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color: #db1865
}

.navbar-toggler {
    font-size: 1.55rem;
    border: 1px solid rgba(255,255,255,0.5);
}

.divisor{
    width: 1px;
    background: white;
    margin: 5px 20px;
}


/* Formatação Capa 
-----------------------------------------------------*/

.capa{
    text-align: center;
}

section#home h1{
    color: white;
    font-family: "Gotham";
    text-transform: uppercase;
    margin-bottom: 50px;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.btn-roxo{
    background-color: #db1865;
}

.btn-roxo:hover{
    background-color: #ff4169;
    color: white;
}

.btn-branco{
    border: 2px solid white;
}

.btn-branco:hover{
    background-color: white;
    color: black;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}


/* Formatação serviços
----------------------------------------------------*/

#servicos{
    background: white;
    padding: 20px 0 20px 0;
}

.albuns{
    padding: 10px 5px;
}

#servicos h2, #servicos h3{
    color: #db1865;
}

#servicos p{
    margin-bottom: 40px;
}

.rotacionar{
    transform: rotate(30deg);
    padding-left: 80px;
}





/* Formataçãp Recursos 
--------------------------------------------------------*/

#recursos{
    padding: 20px 0 20px 0;
    color: white;
}

#recursos h2,#recursos h3{
    color: #9be0e1;
}






/* Formatação Footer 
-------------------------------------------------------*/
footer{
    background-color: black;
    padding: 50px 0 20px 0;
    color: white;
    position: relative;
}
.logofooter{
    width: 80px;
}

.caixa_logo_footer{
    text-align: center;
}

footer .navbar-nav a{
    color: white;
}

footer .navbar-nav a:hover{
    color: #9be0e1;
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px ;
}


/* Tipografias 
------------------------------------------------------*/
.marcador{
    border: 1px solid red;
}

h2{
    font-family: "Gotham";
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3{
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -0.04em;
}

h4{
    font-size: 1.2em;
    text-transform: uppercase;
    color: lightgrey;
    margin-top: 30px;
}



/*Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
    section h1{
        font-size: 2em;
    }

    h2{
        font-size: 3em;
    }

    header h1#logo{
        font-size: 2em;
    }
}

/*Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
    section h1{
        font-size: 2em;
    }

    h2{
        font-size: 2.80em;
    }
}

/*Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
    section h1{
        font-size: 2.60em;
    }

    h2{
        font-size: 2em;
    }
}

/*Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    section h1{
        font-size: 3.50em;
    }

    h4{
        margin-top: 0px;
    }
    
}

/*Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {
    section h1{
        font-size: 4em;
    }

    h4{
        margin-top: 0px;
    }
}